<div>
    <h1>Hello {{currentUser.username}}!</h1>
</div>
<div>
    <div *ngIf="currentUser.projects?.length > 0; else emptyProjects">
        <h3>Your projects:</h3>
        <ul>
            <li *ngFor="let project of currentUser.projects">
                <span>{{project}}</span>
            </li>
        </ul>
    </div>
    <ng-template #emptyProjects>
        <h3>You have no projects.</h3>
    </ng-template>
</div>
<div>
    <p>
        <a [routerLink]="['/login']">Logout</a>
    </p>
</div>
