<div class="row">
    <div class="col-md-12">
        <h1>Hello {{currentUser.username}}!</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Projects</h3>
			</div>
			<div class="panel-body">
                <projects [currentUser]="currentUser"></projects>                
			</div>
		</div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
				<h3 class="panel-title">Change password</h3>
			</div>
			<div class="panel-body">
                <changePassword [currentUser]="currentUser"></changePassword>
			</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>
            <a [routerLink]="['/login']">Logout</a>
        </p>
    </div>
</div>
