<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Hello {{currentUser.username}}!</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Projects</h3>
			</div>
			<div class="panel-body">
                <div *ngIf="currentUser.projects?.length > 0; else emptyProjects">
                    <ul class="list-group">
                        <li class="list-group-item" *ngFor="let project of currentUser.projects">
                            <a href="#" class="list-group-item-action">{{project}}</a>
                        </li>
                    </ul>
                </div>
                <ng-template #emptyProjects>
                    <p>You have no projects</p>
                </ng-template>
                <form name="form" (ngSubmit)="f.form.valid && addProject()" #f="ngForm" novalidate>
                    <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !newProject.valid }">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="New project"
                                name="newProject" [(ngModel)]="model.newProject" #newProject="ngModel" required>
                            <span class="input-group-btn">
                                <button class="btn btn-primary">Add</button>
                            </span>  
                        </div>
                        <div *ngIf="f.submitted && !newProject.valid" class="help-block">Project name is required</div>
                    </div>    
                </form>
			</div>
		</div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
				<h3 class="panel-title">Change password</h3>
			</div>
			<div class="panel-body">
			</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <p>
            <a [routerLink]="['/login']">Logout</a>
        </p>
    </div>
</div>
