<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1>Project: {{project.name}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Upload<i class="fa fa-upload pull-right"></i></h3>
			</div>
			<div class="panel-body">
                <label class="control-label">Select File</label>
                <input id="file-input-id" type="file" class="file">           
			</div>
		</div>
    </div>
</div>
<script>
    $('#file-input-id').fileupload({
        allowedFileExtensions: ['zip']
    });    
</script>
